.cf-end-div{
  height: 15rem;
  position: relative;
  background-color: #8441af;
}
.inner-cf-end{
  color: white;
  position: absolute; /*Can also be `fixed`*/
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  margin: auto;
  transform: translateY(-50%);
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
}
.inner-cf-end button{
  background: linear-gradient(to right, #d3d6d6 0%, #e8e9e9 100%);
  color: #550b7c;
}