.profile-dp{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
}


.profD-dash{
    align-items: center;
}

.profD-rad{
border-radius: 12px;
}
.bg-white{
    background-color: #fff;
}