@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.left_side {
    border-right: 1px solid var(--lightGray);
    padding-right: 2rem !important;
    font-family: 'Inter';
}

.section {
    margin: 0 3% !important;
}

.yellow {
    color: var(--yellow);
    font-size: 30px;
    font-weight: 400;
    font-family: 'Inter';
    margin-bottom: 2rem;
}

.event_btn {
    width: 130px !important;
}

.action {
    cursor: pointer;
}

.card-title {
    font-weight: 900;
    font-family: 'Inter';
}

.heading h1 {
    font-family: 'Inter';
    font-weight: 900;
    text-shadow: 1px 0 var(--purple);
    letter-spacing: 1px;
    font-size: 46px
}

.progress_bar {
    display: grid;
    grid-template-columns: 7fr 1fr;
    align-items: center;

}

.progress-bar {
    background-color: #F37658 !important;
    border-radius: 10px !important;
}

.progress {
    background-color: #F9DCD7 !important;
    border-radius: 10px !important;
}

.round_btn {
    border-radius: 50px !important;
}

.green {
    background-color:
        #EBF8E7;
    height: 450px;
}

.short_div {
    height: 49%;
    width: 92%;
    float: right;
}

.time_spending h3 {
    font-weight: 700;
}

.short_div h3,
.green h3 {
    font-family: 'Inter';
    font-weight: 800;
}

.satisfaction h3 {
    font-family: 'Inter';
    font-weight: 800;
}

.satisfaction .bold {
    font-weight: 600;
}

.short_div h4 {
    font-weight: 600;
}

.short_div1 {
    background-color: var(--shortDiv1);
}

.short_div2 {
    background-color: var(--shortDiv2);
}

.right_card {
    padding: 30px;
    margin-top: 30px !important;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

}

.right_card .text-muted {
    font-size: 20px;
    line-height: 1;

}

.right_card h1 {
    font-family: 'Inter';
    font-weight: 900;
    text-shadow: 1px 0 #000;
    font-size: 36px;
    letter-spacing: 1px;
}

.round_icon {
    height: 42px;
    width: 42px;
    border-radius: 100%;
    border: 1px solid var(--white);
}

.ml {
    margin-left: -10px;
}

.statistics-dot {
    /* position: absolute; */
    width: 18px;
    height: 18px;
    margin-top: 10px;
    margin-right: 7px;
    border-radius: 50%;
}

.dashboard-card {
    margin-bottom: 2rem;
}

.dashboard-card .card {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.bg-pb-pink {
    background-color: #C026B7 !important;
}

.bg-pb-light-blue {
    background-color: #1CD8C9 !important;
}

@media (max-width:900px) {
    .left_side {
        border-right: none;
        padding-right: 0 !important;
        padding-left: 0 !important;

    }

    .short_div1 {
        margin-top: 30px;
    }

    .short_div {
        width: 100%;
        margin-bottom: 10px !important;
    }

    .center {
        display: flex;
        justify-content: center !important;
    }
}

@media (min-width:1900px) {
    .right_card {
        margin-top: 39px !important;
    }


}

@media (max-width:1000px) {
    .progressBar {
        height: 180px !important;
        width: 180px !important;
    }

    .progressBar {
        height: 180px !important;
        width: 180px !important;
    }

    .green {
        height: auto;
    }

    .short_div1>div {
        justify-content: baseline !important;
    }
}

@media (max-width:500px) {
    .right_card {
        padding: 20px;
    }

    .react-calendar__tile {
        padding: 7px;
    }
}

@media (min-width:1800px) {
    .padding {
        padding-bottom: 9px !important;
    }
}