:root {
  --purple: #550B7C;
  --white: #ffffff;
  --blue: #0062e3;
  --grey: #80888f;
  --lightGray: #b2b2b2;
  --lightBlue: #1fd0b6;
  --yellow: #ffc100;
  --green: #28a745;
  --backgorundColor: #F6F7F9;
  --shortDiv1: #FFEEEA;
  --shortDiv2: #FCF4DD;
  --bg1: #E0F0F6;
  --bg2: #f4eadb;
  --bg3: #F7F1E8;
}